<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wow Profit App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport">
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
<v-app id="app">
    <v-app-bar :color="activeFab.color" app dense>
        <v-toolbar-title>Warcraft Mount Log</v-toolbar-title>
        <v-spacer></v-spacer>
        <div class="mt-6 d-none d-sm-flex"
             v-show="loaded">
            <v-text-field dense
                          label="Search"
                          placeholder="Search By Name"
                          single-line
                          solo
                          v-model="searchInput"></v-text-field>
        </div>
        <v-spacer></v-spacer>
        <v-menu bottom
                transition="slide-y-transition">
            <template v-slot:activator="{ on }">
                <v-btn :color="activeFab.offColor"
                       dark
                       class="d-none d-sm-flex"
                       v-on="on"
                       v-show="loaded">
                    <span v-if="source === 'All'">Select Source</span>
                    <span v-else>{{source}}</span>
                </v-btn>
            </template>
            <v-list>
                <v-list-item
                        :key="i"
                        @click="changeSource(s)"
                        v-for="(s, i) in allSources">
                    <v-list-item-title>{{ s }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        <v-btn :color="activeFab.offColor"
               @click.prevent="logout"
               class="ml-2"
               v-if="authUser"
               v-show="loaded">Log Out
        </v-btn>
        <v-btn :color="activeFab.offColor"
               @click.prevent="login"
               class="ml-2"
               v-else
               v-show="loaded">Log In
        </v-btn>
        <v-avatar v-if="authUser"
                  v-show="loaded">
            <v-img :src="authUser.photoURL"
                   class="d-none d-sm-flex"
                   alt="avatar"/>
        </v-avatar>
    </v-app-bar>
    <v-content class="background">
        <v-container>
            <v-row v-if="!loaded">
                <v-col>
                    <h1>Loading</h1>
                    <v-img max-height="500" src="img/loading.gif"/>
                </v-col>
            </v-row>
            <v-row v-else>
                <v-col :key="i"
                       cols="auto"
                       v-for="(mount, i) in displayedMounts">
                    <v-card :color="getMountColor(mount.mountId)"
                            @click="addToUserCollection(mount.mountId)"
                            hover
                            max-height="150"
                            max-width="150"
                            outlined>
                        <v-tooltip bottom>
                            <template v-slot:activator="{on}">
                                <v-img :src="mount.display"
                                       aspect-ratio:1
                                       class="background lighten-2"
                                       lazy-src="img/loading.gif"
                                       max-height="150"
                                       max-width="150"
                                       v-on="on">
                                    <v-btn icon>
                                        <v-icon v-if="!authUser" color="primary">mdi-{{sourceIcon(mount)}}</v-icon>
                                        <v-icon v-else :color="getMountColor(mount.mountId)">mdi-{{sourceIcon(mount)}}
                                        </v-icon>
                                    </v-btn>
                                </v-img>
                            </template>
                            <span>
                                <h2>{{mount.name}}</h2>
                                <hr/>
                                <h3>Source: {{mount.source}}</h3>
                                <hr/>
                                <h4>{{mount.description}}</h4>
                            </span>
                        </v-tooltip>
                    </v-card>
                </v-col>
            </v-row>
            <v-row v-show="displayedMounts.length > 0">
                <v-btn :color="activeFab.offColor"
                       @click="toDisplayNo += 12"
                       class="mx-auto my-6"
                       v-show="displayedMounts.length >= toDisplayNo">Show More
                </v-btn>
                <v-btn :color="activeFab.offColor"
                       @click="toDisplayNo = 18"
                       class="mx-auto my-6"
                       v-show="displayedMounts.length > 18 && toDisplayNo > 18">Reset View Count
                </v-btn>
            </v-row>
        </v-container>
    </v-content>
    <v-content class="background">
        <!--Floating Action Button to swap User Collection and All Mounts-->
        <v-fab-transition class="background">
            <v-btn :color="activeFab.offColor"
                   :key="activeFab.icon"
                   v-if="authUser"
                   @click="toggleGallery"
                   class="v-btn ml-3 mb-12 "
                   fab
                   fixed
                   bottom
                   left>
                <v-icon>mdi-{{ activeFab.icon }}</v-icon>
            </v-btn>
        </v-fab-transition>
        <v-fab-transition class="background">
            <v-btn :color="activeFab.offColor"
                   v-show="loaded"
                   @click="toggleSort"
                   class="v-btn ml-3 mb-12"
                   fab
                   fixed
                   bottom
                   right>
                <v-icon>mdi-{{ activeSort }}</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-content>
    <v-footer :color="activeFab.color" app>
        <div>
            &copy; {{new Date().getFullYear()}}
            <span v-show="loaded">| Total Mounts: {{mounts.length}}
                <span v-if="authUser">| Your Collection: {{authUser.mounts.length}}</span></span>
        </div>
        <div class="flex-grow-1"></div>
    </v-footer>
</v-app>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-firestore.js"></script>
<script src="https://unpkg.com/vuefire@2.0.0-alpha.20/dist/vuefire.js"></script><!-- for use with firestore -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="js/app-models.js"></script>
<script src="js/app.js"></script>
</body>
</html>